<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <title>Описание задания</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <style>
        a{
            color: white;
        }
        a:hover {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="container">

    <h1 class="p-3"> Описание задачи </h1>

    <form th:action = "@{/viewTaskList}"
          th:object="${task}" method="get" class="form-horizontal">

        <form>
            <fieldset disabled>
                <div class="form-group">
                    <label for=task.title><p th:text="Наименование "></p></label>
                    <input th:field="*{title}" id=task.title class="form-control" placeholder="title (*)">

                    <p></p>

                    <label for=task.description><p th:text="Описание "></p></label>
                    <input th:field="*{description}" id=task.description class="form-control" placeholder="description (*)">

                    <p></p>
                    <p th:text="${#dates.format(task.date, 'yyyy-MM-dd')}"></p>

                    <label for=task.comment><p th:text="Описание "></p></label>
                    <input th:field="*{comment}" id=task.comment class="form-control" placeholder="comment (*)">
                </div>
            </fieldset>
            <div style="margin-top: 10px" class="form-group">
                <div class="col-sm-6 controls">
                    <button type="submit" class="btn btn-primary">Вернуться в список задач</button>
                </div>
            </div>
        </form>


    </form>

</div>

</body>

</html>